@charset "UTF-8";

@font-face { 

	font-family: myFirstFont; 
	src: url(mchangxe.github.io/VCR_OSD_MONO_1.001.ttf); 

} 
p{
	color:white;
	font:Helvetica;
	text-align:center; 
	font-size:140%;
	vertical-align: middle;

}
