@charset "UTF-8";

@font-face { font-family: VCR_OSD_MONO_1.001; src: url('mchangxe.github.io/VCR_OSD_MONO_1.001.ttf'); } 
p{
	color:white;
	font:VCR_OSD_MONO_1.001;
	text-align:center; 
	font-size:140%;

}

p1{
	color:"#EBD1BD";
	text-align: center;
	


}