@charset "UTF-8";

@font-face { 

	font-family: myFirstFont; 
	src:url('courier.ttf'); 

} 

p{
	color:white;
	font-family: myFirstFont;
	text-align:center; 
	font-size:75%;
	vertical-align: middle;
	margin-top:50px;
	margin-right: 180px;
    margin-left: 180px;
    margin-bottom: 50px;
	line-height: 35px;

}


